.yotei {
width: 80%;
height: 100vh;
margin: 0 auto;
}
.yotei iframe{
    width: 100%;
    height: 100%;
    display:none;
}
#pas_form {
    text-align: center;
}
.soccer {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
body {
    margin: 0%;
}
.taitoru {
    text-align: center;
    font-size: 50px;
}
.sakka {
    text-align: right;
}